body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffb5c0;
}

header {
  background-color: #bc5b5b;
  color: floralwhite;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 5px #eb99994d, 0 6px 15px #ea969633;
}

nav {
  background-color: rgba(167, 98, 98, 0.8);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 60px;
  z-index: 999;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffb5c0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.card {
  background-color: #dd7e7ee6;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.card p {
  margin: 0;
  font-size: 1.5rem;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.photo-gallery img {
  width: 300px; 
  height: auto; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #bc5b5b;
  color: floralwhite;
}
